.summoner-detail-root {
    max-width: 1100px;
    padding-top: 40px;
}

.summoner-detail-root .summoner-info {
    padding: 25px 15px;
    border-bottom: 1px solid #dadada;
}

.summoner-detail-root .summoner-info .summoner-desc {
    padding-left: 25px;
}

.summoner-detail-root .summoner-info .summoner-desc h1 {
    margin: 0;
}

.summoner-detail-root .summoner-info .summoner-desc img {
    margin-left: 10px;
    transition: transform .3s ease;
    cursor: pointer;
}

.summoner-detail-root .summoner-info .summoner-desc img:hover {
    transform: rotate(-135deg);
}

.summoner-detail-root .summoner-info .summoner-desc img.disabled {
    cursor: wait;
    opacity: 50%;
}

.summoner-detail-root .summoner-info .summoner-desc img.disabled:hover {
    transform: none;
}

.summoner-detail-root .match-statics {
    padding: 15px 10px;
    background-color: var(--white-hover);
    margin-top: 20px;
    border-radius: 5px;
}

.summoner-detail-root .match-statics .statics-element {
    flex: 1 0;
    border-right: 1px solid #d3d1d1;
    padding: 0 20px;
}

.summoner-detail-root .match-statics .statics-desc {
    margin-bottom: 15px;
    font-size: .9rem;
    font-weight: bold;
    color: var(--light-black);
}

.summoner-detail-root .match-statics .statics-element:last-child {
    border-right: none;
}

.summoner-detail-root .match-statics .winrate-graph {
    flex: 1 0;
}

.summoner-detail-root .match-statics .match-stat {
    font-size: 1.1rem;
    font-weight: bold;
    flex: 1 0;
}

.summoner-detail-root .match-statics .match-stat .match-result {
    margin-bottom: 10px;
}

.summoner-detail-root .match-statics .champion-statics {
    padding: 3px 8px;
    font-size: .9rem;
}

.summoner-detail-root .match-statics .champion-statics .champ-info {
    margin-left: 10px;
    font-weight: bold;
}

.summoner-detail-root .match-statics .champion-statics .champ-info .champ-stat {
    font-size: .75rem;
}

.summoner-detail-root .match-statics .champion-statics .champ-info .champ-stat .kda-desc {
    margin-left: 2px;
    color: var(--light-black);
}

.summoner-detail-root .match-statics .champion-statics .champ-winrate {
    margin-left: auto;
    font-weight: bold;
}

.summoner-detail-root .match-statics .champion-statics .champ-winrate .winrate-desc {
    font-size: .8rem;
    color: var(--light-black);
}

.summoner-detail-root .match-histories {
    margin-top: 20px;
}

.summoner-match-history-elem {
    padding: 5px 15px 10px 15px;
    margin: 8px 0;
    border-radius: 5px;
    background-color: var(--white-hover);
    font-size: 1rem;
}

.summoner-match-history-elem.win {
    border-left: 5px solid var(--blue);
}

.summoner-match-history-elem.lose {
    border-left: 5px solid var(--red);
}

.summoner-match-history-elem .match-info {
    padding: 5px 0;
    margin-bottom: 5px;
    border-bottom: 1px solid #c7c7c7;
}

.summoner-match-history-elem .match-info .match-type {
    font-weight: bold;
    margin-right: 10px;
}

.summoner-match-history-elem .match-stat {
    padding: 5px 0;
    font-weight: bold;
}

.summoner-match-history-elem .match-stat .champion-icon {
    position: relative;
}

.summoner-match-history-elem .match-stat .champion-level {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: .7rem;
    text-align: center;
    color: var(--white-hover);
    background-color: rgba(0, 0, 0, .6);
}

.summoner-match-history-elem .match-stat .stat-result {
    flex: 0.5 0;
    margin-right: 20px;
    border-right: 1px solid #c7c7c7;
}

.summoner-match-history-elem .match-stat .stat-result .match-time {
    font-size: .9rem;
    color: var(--light-black);
}

.summoner-match-history-elem .match-stat .champion-info {
    flex: .7 0;
}

.summoner-match-history-elem .match-stat .champion-info .champion-icon, .spell-container, .rune-container {
    margin-right: 5px;
}

.summoner-match-history-elem .match-stat .stat-kda {
    flex: .5 0;
}

.summoner-match-history-elem .match-stat .sub-stat {
    font-size: .8rem;
}

.summoner-match-history-elem .match-stat .stat-kda .kda-desc {
    margin-right: 4px;
    color: var(--light-black);
}

.summoner-match-history-elem .match-stat .stat-cs {
    flex: .5 0;
}

.summoner-match-history-elem .match-stat .stat-cs .cs-per-m {
    color: var(--light-black);
}

.summoner-match-history-elem .match-stat .stat-vision {
    flex: .5 0;
    text-align: center;
}

.summoner-match-history-elem .match-stat .item-container {
    flex: 1 0;
    justify-content: center;
}

.summoner-match-history-elem .match-stat .stat-participants {
    flex: 1.5 0;
}

.summoner-match-history-elem .match-stat .stat-participants .participant-name {
    font-size: .85rem;
    padding-left: 5px;
    color: var(--light-black);
    width: 80px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.summoner-match-history-elem .match-stat .stat-participants .participants-list {
    margin-right: 8px;
}

.summoner-match-history-elem .match-stat .stat-participants .participant-elem {
    margin-bottom: 2px;
}

.summoner-match-history-elem .match-stat .stat-participants .participant-elem:last-child {
    margin-bottom: 0;
}