.summoner-detail-root {
    max-width: 1100px;
    padding-top: 40px;
    color: var(--white);
}

.summoner-detail-root .summoner-info {
    padding: 25px 15px;
    margin: 0 10px;
    border-bottom: 1px solid var(--lightgray);
}

.summoner-detail-root .summoner-info .summoner-desc {
    padding-left: 25px;
}

.summoner-detail-root .summoner-info .summoner-desc h1 {
    margin: 0;
}

.summoner-detail-root .summoner-info .summoner-desc img {
    margin-left: 10px;
    transition: transform .3s ease;
    cursor: pointer;
    filter: invert();
}

.summoner-detail-root .summoner-info .summoner-desc img:hover {
    transform: rotate(-135deg);
}

.summoner-detail-root .summoner-info .summoner-desc img.disabled {
    cursor: wait;
    opacity: 50%;
}

.summoner-detail-root .summoner-info .summoner-desc img.disabled:hover {
    transform: none;
}

.summoner-detail-root .match-statics {
    padding: 15px 10px;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 5px;
    margin: 20px 10px 0 10px;
}

.summoner-detail-root .match-statics .statics-element {
    flex: 1 0;
    border-right: 1px solid #d3d1d1;
    padding: 0 20px;
}

.summoner-detail-root .match-statics .statics-desc {
    margin-bottom: 15px;
    font-size: .9em;
    font-weight: bold;
    color: var(--lightgray);
}

.summoner-detail-root .match-statics .statics-element:last-child {
    border-right: none;
}

.summoner-detail-root .match-statics .match-summary .winrate-graph {
    flex: 1 0;
}

.summoner-detail-root .match-statics .match-summary .match-stat {
    font-size: 1.1em;
    font-weight: bold;
    flex: 1 0;
}

.summoner-detail-root .match-statics .match-summary .match-stat .match-result {
    margin-bottom: 10px;
}

.summoner-detail-root .match-statics .champion-statics {
    padding: 3px 8px;
    font-size: .9em;
}

.summoner-detail-root .match-statics .champion-statics .champ-info {
    margin-left: 10px;
    font-weight: bold;
}

.summoner-detail-root .match-statics .champion-statics .champ-info .champ-stat {
    font-size: .75em;
}

.summoner-detail-root .match-statics .champion-statics .champ-info .champ-stat .kda-desc {
    margin-left: 2px;
    color: var(--lightgray);
}

.summoner-detail-root .match-statics .champion-statics .champ-winrate {
    margin-left: auto;
    font-weight: bold;
}

.summoner-detail-root .match-statics .champion-statics .champ-winrate .winrate-desc {
    font-size: .8em;
    color: var(--lightgray);
}

.summoner-detail-root .match-histories {
    margin-top: 20px;
}

.summoner-match-history-elem {
    padding: 10px 15px;
    margin: 8px 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .1);
}

.summoner-match-history-elem.win {
    border-left: 5px solid var(--blue);
}

.summoner-match-history-elem.lose {
    border-left: 5px solid var(--red);
}

/* .summoner-match-history-elem .match-stat .match-info {
    padding: 5px 0;
    margin-bottom: 5px;
    border-bottom: 1px solid #c7c7c7;
} */

.summoner-match-history-elem .match-stat {
    font-weight: bold;
    height: 8em;
}

.summoner-match-history-elem .match-stat .match-info {
    flex: 0.5 0;
    margin-right: 20px;
    border-right: 1px solid #c7c7c7;
}

.summoner-match-history-elem .match-stat .match-info div:first-child {
    margin-bottom: 10px;
}

.summoner-match-history-elem .match-stat .match-info .match-info-type .match-round {
    font-weight: normal;
}

.summoner-match-history-elem .match-stat .match-info .match-info-result .match-time {
    font-size: .9em;
    color: var(--lightgray);
}

.summoner-match-history-elem .match-stat .stat-detail {
    flex: 3 0;
}

.summoner-match-history-elem .match-stat .stat-detail .champion-info {
    flex: 1 0;
}

.summoner-match-history-elem .match-stat .stat-detail .champion-info .champion-icon {
    position: relative;
}

.summoner-match-history-elem .match-stat .stat-detail .champion-info .champion-level {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: .7em;
    text-align: center;
    color: var(--lightgray);
    background-color: rgba(0, 0, 0, .8);
}

.summoner-match-history-elem .match-stat .stat-detail .champion-info .info-icon {
    margin-right: 5px;
}

.summoner-match-history-elem .match-stat .stat-kda {
    flex: 1 0;
}

.summoner-match-history-elem .match-stat .sub-stat {
    font-size: .8em;
}

.summoner-match-history-elem .match-stat .stat-kda .kda-desc {
    margin-right: 4px;
    color: var(--lightgray);
}

.summoner-match-history-elem .match-stat .stat-cs {
    flex: 1 0;
}

.summoner-match-history-elem .match-stat .stat-cs .cs-per-m {
    color: var(--lightgray);
}

.summoner-match-history-elem .match-stat .stat-vision {
    flex: 1 0;
    text-align: center;
}

.summoner-match-history-elem .match-stat .item-container {
    display: grid;
    grid-template-rows: repeat(2, 25px);
    grid-template-columns: repeat(3, 25px);
    grid-auto-flow: row dense;
    gap: 1px;
    flex: 1 0;
    justify-content: center;
}

.summoner-match-history-elem .match-stat .stat-participants {
    flex: 2 0;
}

.summoner-match-history-elem .match-stat .stat-participants .participant-name {
    font-size: .85em;
    padding-left: 5px;
    color: var(--lightgray);
    width: 80px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: color .2s ease;
}

.summoner-match-history-elem .match-stat .stat-participants .participant-name:hover {
    color: var(--white);
}

.summoner-match-history-elem .match-stat .stat-participants .participants-list {
    margin-right: 8px;
}

.summoner-match-history-elem .match-stat .stat-participants .participant-elem {
    margin-bottom: 2px;
}

.summoner-match-history-elem .match-stat .stat-participants .participant-elem:last-child {
    margin-bottom: 0;
}

.summoner-match-history-elem .match-stat .detail-link {
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    color: var(--white);
    text-decoration: none;
    padding: 0 7px;
    transition: background-color .2s ease;
}

@media screen and (max-width: 899px) {
    .summoner-match-history-elem .match-stat .stat-participants {
        display: none;
    }
}

@media screen and (max-width: 765px) {
    .summoner-match-history-elem .match-stat {
        flex-direction: column;
    }
    .summoner-match-history-elem .match-stat .match-info {
        flex-direction: row;
        justify-content: space-between;
        border-right: none;
        border-bottom: 1px solid var(--lightgray);
        margin-right: 0;
        padding-bottom: 5px;
    }
    .summoner-match-history-elem .match-stat .match-info div:first-child {
        margin-bottom: 0;
    }
    .summoner-match-history-elem .match-stat .match-info .match-info-type {
        flex-direction: row;
    }
    .summoner-match-history-elem .match-stat .match-info .match-info-type span:first-child {
        margin: 0 5px;
    }
    .summoner-match-history-elem .match-stat .match-info .match-info-result {
        flex-direction: row-reverse;
    }
    .summoner-match-history-elem .match-stat .match-info .match-info-result span:first-child {
        margin: 0 5px;
    }
}

@media screen and (max-width: 650px) {
    .summoner-detail-root .match-statics {
        flex-direction: column;
    }
    .summoner-detail-root .match-statics .statics-element {
        border-right: 0;
        border-bottom: 1px solid var(--gray);
        padding-bottom: 20px;
        margin-bottom: 15px;
    }
    .summoner-detail-root .match-statics .statics-element:last-child {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 425px) {
    .summoner-detail-root .summoner-info>img {
        width: 80px;
        height: 80px;
    }
}