header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
}

@media screen and (max-width: 598px) {
    .header-menu {
        display: none;
    }
}

.header-menu-item {
    color: var(--black);
    margin: 0 20px;
    font-size: 1.1rem;
}

a:hover {
    color: var(--light-black);
}

#logo-img {
    position: fixed;
    margin: 10px;
    left: 0;
    top: 0;
}

#register-icon {
    position: absolute;
    right: 20px;
    top: 20px;
    color: var(--black);
}