.team-card-root {
    width: 280px;
    height: 90px;
    padding: 5px 15px;
    box-sizing: border-box;
    margin: 5px;
    background-color: var(--white-hover);
}

.team-card-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--black);
}

.team-card-name:hover {
    color: var(--light-black);
}