.teams-root {
    max-width: 1200px;
    margin: 0 auto;
}

.teams-container {
    margin-bottom: 15px;
    margin-left: 20px;
}

/* @media screen and (max-width: 560px) {
    .teams-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .team-list {
        justify-content: center;
    }
} */