.team-detail-root {
    width: 1200px;
    margin: 0 auto;
}

.team-detail-title {
    display: block;
    margin: 20px 0;
}

.team-title-name {
    color: var(--black);
    font-size: 2.5rem;
    margin-bottom: 0;
}

.team-title-season {
    color: var(--light-black);
    font-size: 1rem;
    margin: 0;
}