.main-root {
    height: 100%;
    background-image: url(./../images/main_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

.black-layer {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.main-info-container {
    position: absolute;
    padding-left: 10vw;
    padding-top: 25vh;
    box-sizing: border-box;
}

.main-logo {
    position: fixed;
    top: 0;
    left: 10vw;
}

.main-title {
    font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, sans-serif;
    margin-bottom: 50px;
}

.main-title h1 {
    display: inline-block;
    font-size: 8em;
    margin: 0;
    color: var(--white);
}

.main-title h2 {
    font-size: 1.5em;
    margin: 0;
    color: var(--white);
}