.match-detail-root {
    max-width: 1100px;
    min-height: calc(100vh - 70px);
    margin: 0 auto;
}

.match-detail-root .detail-header {
    margin: 80px 0 130px 0
}

.match-detail-root .detail-header>h1 {
    font-size: 2.3em;
    font-weight: bold;
    margin: 30px 0 90px 0;
    color: var(--lightgray);
}

.match-detail-root .scoreboard-root {
    color: var(--white);
    font-weight: bold;
}

.match-detail-root .scoreboard-root .scoreboard-blue {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center
}

.match-detail-root .scoreboard-root .scoreboard-red {
    display: flex;
    align-items: center;
    justify-content: center;
}

.match-detail-root .scoreboard-root .team-name {
    margin: 0;
    padding: 0 10px;
    font-size: 2.3em;
}

.match-detail-root .scoreboard-root .team-score {
    font-size: 2.3em;
    line-height: 2.3em;
    width: 2.3em;
    height: 2.3em;
    text-align: center;
    border-radius: 8px;
    margin: 0 5px;
    background-color: var(--gray);
}

.match-detail-root .match-statics .round-tab-group {
    /* flex-wrap: wrap; */
    font-size: .8em;
    font-weight: bold;
}

.match-detail-root .match-statics .round-tab-group .round-tab {
    padding: 10px 15px;
    text-align: center;
    color: var(--white);
    border-radius: 20px;
    transition: background-color .2s ease, color .2s ease;
    margin: 0 5px;
}

.match-detail-root .match-statics .round-tab-group .round-tab.selected {
    background-color: var(--gray);
    color: var(--gold);
}

.match-detail-root .match-statics .round-tab-group .round-tab:hover {
    background-color: var(--deepgray);
    color: var(--gold);
}

@media screen and (max-width: 765px) {
    .match-detail-root .match-statics .round-tab-group .round-tab {
        padding: 5px 10px;
    }
}