.summoner-elem {
    margin: 10px 0;
    /* justify-content: center; */
}

.summoner-name {
    font-size: .8rem;
}

.kda-area {
    width: 70px;
    margin: 0 3px;
}

.element-margin {
    margin: 0 3px;
}