.match-detail-root {
    max-width: 1100px;
    min-height: calc(100vh - 70px);
    margin: 0 auto;
}

.match-detail-root .detail-header {
    padding-top: 100px;
    padding-bottom: 180px;
}

.match-detail-root .detail-header>h1 {
    font-size: 2rem;
    font-weight: bold;
    /* margin-top: 50px; */
    color: var(--lightgray);
}

@media screen and (max-width: 410px) {
    .match-detail-root>h1 {
        font-size: 1.6rem;
    }
}

.match-detail-root .match-statics .round-tab-group .round-tab {
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 15px;
    width: 110px;
    text-align: center;
    color: var(--white);
    border-radius: 20px;
    transition: background-color .2s ease, color .2s ease;
    margin: 0 5px;
}

.match-detail-root .match-statics .round-tab-group .round-tab.selected {
    background-color: var(--gray);
    color: var(--gold);
}

.match-detail-root .match-statics .round-tab-group .round-tab:hover {
    background-color: var(--gray);
    color: var(--gold);
}