.match-element {
    padding: 20px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    transition: background-color .3s ease;
    color: var(--black);
}

.match-element:last-child {
    border: none;
}

.match-element:hover {
    color: var(--black);
    background-color: var(--white-hover);
}

.match-element .tournament-name {
    color: var(--light-black);
    font-size: .9rem;
}

.match-element .match-type {
    font-size: 1rem;
    font-weight: bold;
}

.match-element .match-result {
    padding-top: 15px;
    padding-bottom: 25px;
}

.match-element .match-result .team {
    font-size: 1.7rem;
}

.match-element .match-result .score {
    width: 100px;
    font-size: 1.3rem;
    font-weight: bold;
}

.match-element .match-result .match-winner {
    font-weight: bold;
}

.match-element .match-result .match-losser {
    color: var(--light-black)
}