#match-info-bar-root {
    display: block;
    position: relative;
    margin: 0 auto;
    /* width: 200px; */
}

#match-info-bar-root:hover {
    background-color: #f1f1f1;
}

#match-result-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    box-sizing: border-box;
    font-size: 1rem;
}

#match-round {
    position: relative;
    color: var(--light-black);
    font-size: 0.8rem;
    top: 5px;
    left: 10px;
}

.team-wrapper {
    color: rgb(207, 73, 55);
}

.winner {
    color: rgb(105, 184, 81);
}

.team-name {
    margin: 0 8px;
}

.match-colon, .match-result {
    font-family: 'Teko', sans-serif;
    font-weight: bold;

}

.match-colon {
    margin: 0 5px;
}