.detail-stat-root {
    margin-top: 30px;
    padding: 30px 40px;
    border: 1px solid var(--white-hover);
    border-radius: 8px;
}

.detail-stat-root .game-info {
    justify-content: space-between;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
}

.detail-stat-root .game-info .game-time {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--black);
}

.detail-stat-root .game-info .game-details {
    font-size: .9rem;
    font-weight: bold;
    color: var(--black);
}

.detail-stat-root .team-stat {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
}

.detail-stat-root .team-stat .detail-scoreboard {
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 50px;
}

.detail-stat-root .team-stat .detail-scoreboard .team-name {
    width: 230px;
    color: var(--black);
}

.detail-stat-root .team-stat .detail-scoreboard .winner {
    color: var(--gold);
}

.detail-stat-root .team-stat .detail-scoreboard .winner-token {
    padding: 2px 4px;
    margin: auto 5px;
    font-size: .5em;
    color: var(--white);
    background-color: var(--gold);
    border-radius: 4px;
    text-align: center;
}

.detail-stat-root .team-stat .detail-scoreboard .scoreboard {
    margin: 0 .5em;
    color: var(--black);
}

.detail-stat-root .team-stat .detail-scoreboard .scoreboard .score {
    text-align: center;
    line-height: 1.8em;
    width: 1.8em;
    height: 1.8em;
    margin: 0 4px;
    background-color: var(--white-hover);
    border-radius: 8px;
}

.detail-stat-root .team-stat .detail-scoreboard .scoreboard .score-b {
    color: var(--blue);
}

.detail-stat-root .team-stat .detail-scoreboard .scoreboard .score-r {
    color: var(--red);
}

.detail-stat-root .team-stat .temp-team-stat {
    font-size: 1rem;
    padding: 2px 3px;
    width: 100px;
    text-align: center;
    margin-bottom: 5px;
    color: var(--black);
    background-color: var(--white-hover);
    border-radius: 4px;
}

.detail-stat-root .team-stat .temp-team-stat:last-child {
    margin-bottom: none;
}