#menu-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--white);
    border: 1px solid #525252;
    width: 500px;
    height: 150px;
    margin: 20px;
    padding: 15px 20px;
    box-sizing: border-box;
}

#menu-card:hover>#card-title, #menu-card:hover>#card-content {
    color: var(--light-black);
}

#card-title {
    color: var(--black);
    font-weight: bold;
    font-size: 2.7rem;
    transition: ease color .6s;
}

#card-content {
    color: var(--black);
    font-weight: 400;
    font-size: 1.5rem;
    margin: 5px 0;
    transition: ease color .6s;
}