.summoner-ranking-root {
    max-width: 1100px;
    margin: 0 auto;
    margin: 0 5px;
    padding-top: 40px;
    font-size: 1rem;
}

.summoner-ranking-root .rank-col-tab {
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 25px;
}

.summoner-ranking-root .rank-col-tab .tab-elem {
    min-width: 100px;
    font-size: 1.2rem;
    text-align: center;
    padding: 15px 5px;
    border-bottom: 5px solid transparent;
    color: var(--white);
    cursor: pointer;
    transition: border-color .2s ease;
}

.summoner-ranking-root .rank-col-tab .tab-elem:hover {
    border-color: var(--gray);
}

.summoner-ranking-root .rank-col-tab .tab-elem.selected {
    font-weight: bold;
    border-color: var(--gold);
}

.stat-ranking-elem-root {
    font-size: 1em;
    padding: 25px 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: var(--deepgray);
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.stat-ranking-elem-root:last-child {
    margin-bottom: 0;
}

.stat-ranking-elem-root:hover {
    background-color: var(--gray);
}

.stat-ranking-elem-root .rank-desc {
    width: 6.5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    color: var(--green);
}

.stat-ranking-elem-root .summoner-info {
    flex: 2.5 0;
}

.stat-ranking-elem-root .summoner-info .profile-icon {
    border-radius: 30px;
}

.stat-ranking-elem-root .summoner-info h2 {
    margin: 0;
    padding-left: 13px;
}

.stat-ranking-elem-root .stat-info {
    flex: 4 0;
    width: 100%;
}

.stat-ranking-elem-root .game-record {
    flex: 1 0;
}

.stat-ranking-elem-root .kda-record {
    flex: 1 0;
}

.stat-ranking-elem-root .vision-score {
    flex: 1 0;
    text-align: center;
}

.stat-ranking-elem-root .cs {
    flex: 1 0;
    text-align: center;
}

@media screen and (max-width: 765px) {
    .stat-ranking-elem-root {
        flex-direction: column;
    }
    .stat-ranking-elem-root .summoner-info {
        flex: 1 0;
        flex-direction: column;
        width: 100%;
        margin: 15px 0;
        border-bottom: 1px solid var(--gray);
    }
    .stat-ranking-elem-root .summoner-info h2 {
        padding: 0;
        margin: 8px 0;
    }
}

@media screen and (max-width: 425px) {
    .stat-ranking-elem-root .stat-info {
        font-size: .9rem;
    }
}