.summoner-stat-root {
    color: var(--black);
    background: linear-gradient(to right, var(--white-hover), transparent);
    /* background-color: var(--white-hover); */
    border-left: 3px solid var(--red);
    padding: 0 15px;
    margin-top: 20px;
    font-size: .95rem;
}

.summoner-stat-root.winner {
    background: linear-gradient(to right, var(--white-hover), transparent);
    border-color: var(--gold);
}

.summoner-stat-root .stat-header {
    padding: 10px 0;
}

.summoner-stat-root .stat-header .table-header {
    text-align: center;
    font-weight: bold;
}

.summoner-stat-root .stat-header .stat-result, .stat-body .stat-info {
    text-align: left;
    flex: 5 1;
}

.summoner-stat-root .stat-header .stat-result>span {
    color: var(--red);
    margin-right: 5px;
}

.summoner-stat-root.winner .stat-header .stat-result>span {
    color: var(--gold)
}

.summoner-stat-elem {
    position: relative;
    font-size: .85rem;
    margin: 5px 0;
}

.summoner-stat-elem .stat-info .champion-icon {
    display: flex;
    position: relative;
}

.summoner-stat-elem .stat-info .champion-icon {
    margin: 0 3px;
}

.summoner-stat-elem .stat-info .champion-icon .champion-level {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: .65rem;
    text-align: center;
    color: var(--white-hover);
    background-color: rgba(0, 0, 0, .6);
}

.summoner-stat-elem .stat-info .summoner-name {
    padding-left: 10px;
    font-size: .9rem;
}

.summoner-stat-root .stat-header .stat-kda, .stat-body .stat-kda {
    text-align: center;
    flex: 1.5;
}

.summoner-stat-root .stat-header .stat-dealt, .stat-body .stat-dealt {
    text-align: center;
    flex: 2;
}

.summoner-stat-root .stat-header .stat-sight, .stat-body .stat-sight {
    text-align: center;
    flex: 1;
}

.summoner-stat-root .stat-header .stat-cs, .stat-body .stat-cs {
    text-align: center;
    flex: 1;
}

.stat-body .stat-cs .cs-per-min {
    font-size: .7rem;
}

.summoner-stat-root .stat-header .stat-item, .stat-body .stat-item {
    text-align: center;
    flex: 2.5;
}