.tournament-info-root {
    margin: 0 10px;
    padding: 20px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #c7c7c7;
    transition: ease background-color .3s;
}

.tournament-info-root:last-child {
    border: none;
}

.tournament-info-root:hover {
    background-color: var(--white-hover);
}

.tournament-info-root:hover .tournament-name {
    color: var(--light-black);
}

.tournament-info-root .tournament-logo {
    margin: 0 10px;
}

.tournament-info-root .tournament-name {
    color: var(--black);
    font-weight: bold;
    font-size: 1.5rem;
    transition: ease color .3s;
    /* flex-grow: 1; */
}