html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  background: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
}

.width-100 {
  width: 100%;
}

.m-w-auto {
  margin: 0 auto;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col-r {
  display: flex;
  flex-direction: column-reverse;
}

.flex-row-r {
  display: flex;
  flex-direction: row-reverse;
}

.flex-j-s {
  justify-content: flex-start;
}

.flex-j-c {
  justify-content: center;
}

.flex-j-e {
  justify-content: flex-end;
}

.flex-align-s {
  align-items: flex-start;
}

.flex-align-c {
  align-items: center;
}

.flex-align-e {
  align-items: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}