body {
    --white: #faf9f8;
    --lightgray: #c7c7c7;
    --gray: #495057;
    --deepgray: #343A40;
    --black: #212529;
    --green: #2daf7f;
    --orange: #e19205;
    --red: #F44242;
    --blue: #3793FF;
    --gold: #F5D216;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.tc-blue {
    color: var(--blue);
}

.tc-red {
    color: var(--red)
}

.tc-black {
    color: var(--white);
}

.tc-normal {
    color: var(--lightgray);
}

.tc-green {
    color: var(--green);
}

.tc-orange {
    color: var(--orange);
}

.t-bold {
    font-weight: bold;
}