body {
    --white: #faf9f8;
    --white-hover: #ebebeb;
    --black: #333533;
    --light-black: #5f6566;
    --green: #2daf7f;
    --orange: #e19205;
    --red: #ca1222;
    --blue: #0073df;
    --gold: #f0cc00;
    --team-color-red: #e46057;
    --team-color-blue: #57a0e4;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.tc-blue {
    color: var(--blue);
}

.tc-red {
    color: var(--red)
}

.tc-black {
    color: var(--black);
}

.tc-normal {
    color: var(--light-black);
}

.tc-green {
    color: var(--green);
}

.tc-orange {
    color: var(--orange);
}

.fs-1r {
    font-size: 1rem;
}

.fs-1-2r {
    font-size: 1.2rem;
}

.t-bold {
    font-weight: bold;
}